{% extends "layout.jinja2" %}
{% block body %}
    <form>
        <input type="text" placeholder="title" />
        <input type="text" placeholder="date" />
        <input type="text" placeholder="body" />
        <input type="submit" value="Create New Entry" />
    </form>
{% endblock %}