{% extends "layout.jinja2" %}
{% block body %}
    <form>
        <input type="text" value="{{ entry.title }}" />
        <input type="text" value="{{ entry.date }}" />
        <input type="text" value="{{ entry.body }}" />
        <input type="submit" value="Update Entry" />
    </form>
{% endblock %}